@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html {
    min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    background-color: #232323;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
  }

a {
    text-decoration: none;
    color: #fff;
}

 a:hover {
    text-decoration: underline;
 }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hidden2 {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateY(-100%);
}

.show2 {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.hidden3 {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateY(100%);
}

.show3 {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.header-list:nth-child(1) {
    transition-delay: 100ms;
}

.header-list:nth-child(2) {
    transition-delay: 200ms;
}

.header-list:nth-child(3) {
    transition-delay: 300ms;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #292929;
}

.whattheheader {
    display: flex;
    gap: 16px;
}

.thetoppart {
    min-height: auto;
    max-height: 70px;
}

.everythingelse {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
}

.theaboutpart {
    display: block;
}

.header2 {
    text-align: center;
    margin: 50px;
}

.text {
    transition-delay: 100ms;
    width: 800px;
    height: auto;
}

.goatarsenal {
    transition-delay: 200ms;
    text-align: center;
}

.theboxes {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.topbox {
    display: flex;
    align-items: center;
    gap: 32px;
}

.topbox {
    box-sizing: border-box;
    padding: 12px;
    border: 2px solid #fff;
    border-radius: 16px;
}

.topbox:nth-child(2) {
    transition-delay: 300ms;
}

.topbox:nth-child(3) {
    transition-delay: 400ms;
}

.topbox:nth-child(4) {
    transition-delay: 500ms;
}

.topbox:nth-child(5) {
    transition-delay: 600ms;
}

.text2 {
    color: #ffffffaf;
    width: 600px;
    height: auto;
}

.image {
    border-radius: 16px;
}

.footer {
    margin-top: 25px;
    background-color: #292929;
    min-height: 50px;
    color: #ffffffaf;
    display: flex;
    justify-content: center;
    align-items: center;
}