@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html {
    min-height: 100vh;
}

body {
    background-color: #292929;
    color: #131316;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
  }

a {
    text-decoration: none;
    color: #131316;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hidden2 {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateY(-100%);
}

.show2 {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.section-header {

}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 70px;
    background-color: #fff;
    height: 100vh;
    width: 100%;
}

.header-list {
    display: flex;
    gap: 8px;
}

.header-list:nth-child(1) {
    transition-delay: 100ms;
}

.header-list:nth-child(2) {
    transition-delay: 200ms;
}

.header-list:nth-child(3) {
    transition-delay: 300ms;
}

a:hover {
    text-decoration: underline;
    color: #131316;
}

.something {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    min-height: calc(100vh - 70px);
}
.thetop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.thetop:nth-child(2) {
    transition-delay: 200ms;
}

.thetop:nth-child(3) {
    transition-delay: 600ms;
}

.themiddleyuh {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #131316;
    color: #ffffff;
    min-height: calc(100vh - 57px);
}

.themiddle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.themiddlebutton {
    color: #ffffff;
}

.themiddle:nth-child(2) {
    transition-delay: 200ms;
}

.themiddle:nth-child(3) {
    transition-delay: 600ms;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #292929;
    color: #fff;
    max-height: 57px;
}

.footertext {
    font-size: 6px;
    font-weight: 400;
}

.hidden3 {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateY(100%);
}

.show3 {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}